/* Background Color */
body {
    background-color: #f5e296;
}

/* Theme Paragraphs with CSS */
p {
    font-family: Serif;
    font-size: 1em;
    text-indent: 1em;
    padding-left: 1em;
    padding-right: 1em;
    color: #7a5636;
}

/* Theme Header Tags */
h1, h2, h3, h4, h5, h6 {
    font-family: Serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    padding-top: 0.5em;
    color: #484018;
}

/* Style Images */
.fig {
    width: 35%;
}

div.fig { 
    display:block;
    margin:0 auto;
    text-align:center;
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    border: 1px solid #999ba3;
    max-width: 75%;
}

/* Theme hyperlinks */
a {
    color: #03506f;
    text-decoration: none;
}

a:hover {
    color: #e40017;
}

hr {
    height: 3px;
    width: 80%; 
    background-color:#484018;
    border-color: #484018;
    margin-top: 2em; 
    margin-bottom: 2em;
}